{% extends 'base.html.twig' %}

{% block title %}Page Admin{% endblock %}

{% block body %}
<center>
    <h1  style="color : #F4B82A ; font-weight : bold">Page Admin</h1><br><br>
</center>

    <button type="button" class="btn btn-outline-primary btn-lg btn-block" onclick="document.location.href='{{path('listeBase')}}';" >Liste des prestataires</button><br><br>
    <button type="button" class="btn btn-outline-secondary btn-lg btn-block" onclick="document.location.href='{{path('listeUtilisateurs')}}';" >Liste des utilisateurs</button><br><br>
    <button type="button" class="btn btn-outline-success btn-lg btn-block" onclick="document.location.href='{{path('suppColonne')}}';" >Liste des colonnes</button><br><br>
    <button type="button" class="btn btn-outline-primary btn-lg btn-block" onclick="document.location.href='{{path('erreur_donnees')}}';" >Gestion des erreurs de données</button><br><br>
    <button type="button" class="btn btn-outline-success btn-lg btn-block" onclick="document.location.href='{{path('supp_ticket')}}';" >Supprimer plusieurs tickets</button><br><br>
    <button type="button" class="btn btn-outline-danger btn-lg btn-block" onclick="document.location.href='{{path('liste_asso')}}';" >Liste des associations</button><br><br>
    <button type="button" class="btn btn-outline-warning btn-lg btn-block" onclick="document.location.href='{{path('rapporteur_non_present')}}';" >Rapporteurs non présents dans l'association</button><br><br>
    
{% endblock %}