{% extends 'base.html.twig' %}

{% block title %}Suppression colonne {% endblock %}

{% block body %}
<br>
 <form>
  <input type="button" class="btn btn-info " value="Retour" onclick="history.go(-1)"> 
</form>
<br>

    <h1 style="color : #F4B82A ; font-weight : bold">Suppression d'une ou plusieurs colonnes </h1><br>
    <table class="table table-striped table-bordered">
        <thead><tr>
            <th> Nom des colonnes </th>
            <th> Suppression </th>
        </tr></thead>
        <tbody>
        {{form_start(form)}}
        {% for c in colonne %}
            <tr><td><label> {{c.COLUMN_NAME}} </label></td>
            <td><input type="checkbox" name="colonneASupp[]" value={{c.COLUMN_NAME}}></td></tr>
        {% endfor %}
        </table><br>
        {{form_widget(form ,  { 'attr' : {'value' : 'Supprimer'}})}}
        {{form_end(form)}}

            <button type="button" class="btn btn-success" onclick="document.location.href='{{path('ajoutColonne')}}';" >Ajouter une colonne</button><br><br>
{% endblock %}