{% extends 'base.html.twig' %}

{% block body %}
{#Tout les filtres#}
  <h1  style="color : #F4B82A ; font-weight : bold"> Liste des tickets ( {{listeAffichage | length }} )  </h1><br>
    {{form_start(form)}}
    <label style="font-weight : bold">Nom du prestataire</label>
    <select style="border-color : #59C3B5 ; padding:5px "name="nomPresta">
      <option value="tout"> Tous </option>
      {% for p in presta %} 
          <option> {{p.nom }} </option>
      {% endfor %}
    </select>
    <label style="font-weight : bold">Priorité </label>
    <select style="border-color : #59C3B5 ; padding:5px "name="priorite">
      <option value="tout"> Tous </option>
      {% for p in priorite %} 
          <option> {{p.priorite }} </option>
      {% endfor %}
    </select>
    <label style="font-weight : bold">Impact </label>
    <select style="border-color : #59C3B5 ; padding:5px"name="impact">
      <option value="tout"> Tous </option>
      {% for p in impact %} 
          <option> {{p.impact }} </option>
      {% endfor %}
    </select>
    <label  style="font-weight : bold"> Resolution </label>
    <select style="border-color : #59C3B5 ; padding:5px"name="resolution">
      <option value="tout"> Tous </option>
      {% for p in resolution %} 
          <option> {{p.resolution }} </option>
      {% endfor %}
    </select>
    <label style="font-weight : bold">Etat </label>
    <select style="border-color : #59C3B5 ; padding:5px" name="etat">
      <option style="color : red " value="tout"> Tous </option>
      {% for p in etat %} 
          <option> {{p.etat }} </option>
      {% endfor %}
    </select>  
    <label style="font-weight : bold">Date </label>
    <input type="date" name="date"  style="border-color : #59C3B5 ; padding:5px" ></input>
    {{form_widget(form.Envoyer)}}
  <br><br>
  <div style="font-weight : bold"> Légende : </div>
  <div class="btn text-black" style="background-color:#33FFFF ; font-weight : bold">Nouveaux tickets</div>
  <div class="btn text-black" style="background-color:#00FF00 ; font-weight : bold">Tickets Modifiés</div>
  <br><br>

  <table class="table table-striped table-bordered">
    {# Parcours des colonnes du presta#}
    <thead >
      <tr>
      <th style="vertical-align : middle ; border : 1px solid grey" class="text-center"> ID </th>
        <th style="vertical-align : middle ; border : 1px solid grey" class="text-center"> Prestataire </th>
        <th style="vertical-align : middle ; border : 1px solid grey" class="text-center"> 
          <input type="submit" class="btn btn-info" value ="Valider" name="btnModif" >
          {{form_end(form)}}
          Mise a jour 
        </th>
        {% for c in colonneTable %}
          <th style="vertical-align : middle ; border : 1px solid grey" class="text-center" scope="col">{{c.COLUMN_NAME}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {# Parcours des nouveaux tickets#}
    {% for n in nvxTickets %}
        <tr>
          <td style="vertical-align : middle ; border : 1px solid grey" class="text-center"> {{ n.id }} </td>
          <td style="vertical-align : middle ; border : 1px solid grey" class="text-center">
            <a href= "http://127.0.0.1:8000/ticket/{{n.id}}" style="color:#0000FF"> {{ n.type }} </a></td>
          <td style="background-color:#33FFFF ; vertical-align : middle ; border : 1px solid grey">{{n.mise_a_jour}}</td>
          {% for c in colonneTable %}
                    <td style="vertical-align : middle ; border : 1px solid grey" class="text-center">{{n[c.COLUMN_NAME]}}</td>
          {% endfor %}
        </tr>
    {% endfor %}
    {# Parcours des tickets déja présent dans traitement et affichage #}
    {% for a in listeAffichage %}
      {% for t in traitement %}
          {% if a.traitement_id == t.id %}
              <tr>
                <td style="vertical-align : middle ; border : 1px solid grey" class="text-center"> {{ a.id }} </td>
                <td style="vertical-align : middle ; border : 1px solid grey" class="text-center">
                  <a href= "http://127.0.0.1:8000/ticket/{{a.traitement_id}}" style="color: #0000FF"> {{ a.type }} </a></td>
                {% if a.mise_a_jour == t.mise_a_jour %}
                    <td style="vertical-align : middle ; border : 1px solid grey" class="text-center"> {{ a.mise_a_jour|date('d/m/Y') }} </td>
                {% else %}
                    <td style="vertical-align : middle;background-color:#00FF00 ; border : 1px solid grey" class="text-center">{{a.mise_a_jour|date('d/m/Y')}}</td>
                {% endif %}
                {% for c in colonneTable %}
                    {% if c.COLUMN_NAME == 'temps'%}
                      <td style="vertical-align : middle ; border : 1px solid grey" class="text-center"> {{ (a[c.COLUMN_NAME])|round }} </td>
                    {% elseif c.COLUMN_NAME == 'date_soumission'%}
                      <td style="vertical-align : middle ; border : 1px solid grey" class="text-center"> {{ a.date_soumission|date('d/m/Y') }} </td>
                    {% elseif a[c.COLUMN_NAME] !=  t[c.COLUMN_NAME] %}
                      <td style="background-color:#00FF00 ; vertical-align : middle ; border : 1px solid grey" class="text-center">{{a[c.COLUMN_NAME]}}</td>
                    {% else %}
                      <td style="vertical-align : middle ; border : 1px solid grey" class="text-center">{{a[c.COLUMN_NAME]}}</td>
                    {% endif %}
                {% endfor %}
              </tr>
          {% endif %}
      {% endfor %}
    {% endfor %}
    </tbody>
    </table>
    {% endblock %}
