{% extends 'base.html.twig' %}

{% block body %}
<br>
 <form>
  <input type="button" class="btn btn-info " value="Retour" onclick="history.go(-1)"> 
</form>
<br>

<h1  style="color : #F4B82A ; font-weight : bold"> Modification du ticket </h1>

{{form_start(form)}}
{% for c in colonne %}
    <label>{{c.COLUMN_NAME}}</label>
    <input class="form-control" type="text" size="80" name={{c.COLUMN_NAME}}  value="{{donneesTraitement[c.COLUMN_NAME]}}" />
    <br />
{% endfor %}
{{form_widget(form.Envoyer)}}
<input type="submit" class="btn btn-success" value ="Supprimer le ticket" name="btnSupp" ><br><br>
{{form_end(form)}}
{% endblock %}
