<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Réseau entreprendre{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{path('ticket')}}">Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('tickets_regroup')}}">Tickets Regroupés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('ajoutTicket')}}">Ajouter un ticket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('import')}}">Import fichier </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('statistiques')}}"> Statistiques </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{path('admin')}}">Page Admin </a>
            </li>
            {% endif %}
            </ul>
            {% if not app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{path('connexion')}}">Connexion</a>
            </li>
            {% else %}
            <li class="nav-item ">
                <a class="nav-link" href="{{path('deconnexion')}}">Deconnexion</a>
            </li>
            {% endif %}
        </div>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
